@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #c11325;
}

/*Header*/
.logo > img {
  width: 150px;
  height: 60px;
}
header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 10;
  background-color: #000000;
}
header .container {
  -webkit-display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
header .logo a span {
  color: #c11325;
}
header .nav {
  position: fixed;
  background-color: #c11325;
  width: 280px;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  padding: 100px 0px 15px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
header .nav.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
header .nav ul li {
  display: block;
}
header .nav ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  position: relative;
  padding: 10px 30px;
}
header .nav ul li a.active::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.2;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  z-index: -1;
}
header .nav ul li a::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 0px;
  background-color: #000000;
  opacity: 0.2;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  z-index: -1;
}
header .nav ul li a:hover::before {
  width: 100%;
}
header .ham-burger {
  display: inline-block;
  position: relative;
  z-index: 100;
}
header .ham-burger span {
  height: 3px;
  margin-bottom: 8px;
  display: block;
  background-color: #ffffff;
  width: 30px;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
header .ham-burger span:nth-child(1) {
  transform-origin: left top;
}
header .ham-burger span:nth-child(2) {
  transform-origin: left bottom;
}

header .ham-burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(-6px);
  transform: rotate(45deg) translateY(-6px);
}
header .ham-burger.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateY(6px);
  transform: rotate(-45deg) translateY(6px);
}
.container {
  max-width: 1170px;
  margin: auto;
}

/*Home section*/
#home {
  display: flex;
  position: relative;
  margin-top: 60px;
}
/* .carousel-item img {
  width: 500px;
} */
/*About section*/

.about {
  padding: 20px 0px;
  background-color: #ffffff;
}

.about .content {
  -webkit-display: flex;
  display: flex;
}
.about .content .box {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.about .content .box .inner {
  background-color: #222222;
}
.about .content .box:nth-child(2) .inner {
  background-color: #c11325;
}
.about .content .box .inner .img img {
  width: 100%;
}
.about .content .box .inner .text {
  padding: 30px;
}

.about .content .box .inner .text h4 {
  font-size: 20px;
  margin: 0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}
.about .content .box .inner .text p {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/*Service Section*/
.services {
  background-color: #c11325;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  padding: 0px 70px;
}
.heading {
  color: #ffffff;
  padding: 20px;
}
.service > div {
  border: 3px solid #ffffff;
  padding: 6px;
  width: 80%;
  margin: auto;
  background-color: black;
  color: white;
  margin: 15px;
  text-align: center;
}

.service div:hover {
  border: 3px solid #ff004f;
}

.service img:hover {
  transform: scale(1.08);
  transition: transform 0.5s;
}
.service > div > img {
  width: 75%;
  height: 75%;
  padding-top: 20px;
}

/*Classes Section*/

.classes {
  padding: 80px 0px 50px;
  background-color: #ffffff;
}

.classes .content {
  -webkit-display: flex;
  display: flex;
}

.classes .content .box {
  padding: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.classes .content .img img {
  width: 80%;
  /* -webkit-transform: rotateY(180deg);
	transform: rotateY(180deg); */
}

.classes .content .text h2 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  padding: 0px 0px 20px;
}

.classes .content .text p {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0px 0px 30px;
  font-family: "Open Sans", sans-serif;
}

.classes .content .class-items .item {
  margin-bottom: 30px;
  display: flex;
}
.classes .content .class-items .item:nth-child(1) {
  background-color: #222222;
}
.classes .content .class-items .item:nth-child(2) {
  background-color: #c11325;
}
.classes .content .class-items .item .item-text {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.classes .content .class-items .item .item-text,
.classes .content .class-items .item .item-img {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}

.classes .content .class-items .item .item-img img {
  width: 100%;
  display: block;
}
.classes .content .class-items .item .item-img .price {
  position: absolute;
  height: 50px;
  width: 60px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}
.classes .content .class-items .item:nth-child(1) .item-img .price {
  background-color: #c11325;
  left: 0;
  top: 0;
}
.classes .content .class-items .item:nth-child(2) .item-img .price {
  background-color: #222222;
  right: 0;
  top: 0;
}
.classes .content .class-items .item .item-text h4 {
  font-size: 20px;
  margin: 0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  text-align: left;
}

.classes .content .class-items .item .item-text p {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  margin: 0;
  padding: 0 0 20px;
  font-family: "Open Sans", sans-serif;
}
.classes .content .class-items .item .item-text a {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.classes .content .class-items .item .item-text a {
  color: #ffffff;
}

/* Review  start*/
.review {
  position: relative;
  width: 100%;
  min-height: 450px;
  background-color: #bc2231;
  padding: 50px 0px;
}
.review .contents-wraper {
  width: 70%;
  min-height: inherit;
  margin: 30px auto;
  text-align: center;
}
.testName {
  font-size: 30px;
  font-weight: 500;
  color: white;
  padding: 0px 0px 20px;
  text-align: center;
}

.contents-wraper .testRow {
  width: 100%;
  min-height: inherit;
  position: relative;
  overflow: hidden;
}
.testRow .testItem {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}
.testRow .testItem:not(.active) {
  top: 0;
  left: -100%;
  border-radius: 10px;
}
.testRow .testItem img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  outline: 2px solid #006994;
  outline-offset: 2px;
}
.testRow .testItem h3 {
  font-size: 30px;
  font-style: italic;
  padding: 7px;
}
.testRow .testItem h4 {
  font-style: italic;
  color: #c11325;
}
.testRow .testItem p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 10px;
}
.contents-wraper .indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  cursor: pointer;
}
.contents-wraper .indicators .dot {
  width: 15px;
  height: 15px;
  margin: 0px 3px;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.contents-wraper .indicators .active {
  background-color: #222222;
}
@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@media (max-width: 550px) {
  .review .contents-wraper {
    width: 90%;
  }
  .contents-wraper .header h1 {
    font-size: 32px;
  }
  .testRow .testItem h3 {
    font-size: 26px;
  }
  .testRow .testItem p {
    font-size: 16px;
    letter-spacing: initial;
    line-height: initial;
  }
}
/* Review End */

/*Class Schedule Section*/
.schedule {
  padding: 80px 0px;
}

.schedule .content {
  -webkit-display: flex;

  display: flex;
}

.schedule .content .box {
  flex: 0 0 50%;
  max-width: 100%;
  padding: 15px;
}

.schedule .content .text h2 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  padding: 0px 0px 20px;
}

.schedule .content .text p {
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  padding: 0px 0px 20px;
  font-family: "Open Sans", sans-serif;
}
.schedule .content .text img {
  width: 100%;
  /* transform: rotateY(180deg); */
  margin-left: 150px;
}

.schedule .content .timing .table {
  width: 100%;
  border-collapse: collapse;
}

.schedule .content .timing .table td {
  border: 1px solid #dfdfdf;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  color: #222222;
}

.schedule .content .timing .table tr:nth-child(even) td.day {
  background-color: #222222;
}
.schedule .content .timing .table tr:nth-child(odd) td.day {
  background-color: #444444;
}
.schedule .content .timing .table tr:nth-child(1) td.day {
  background-color: #c11325;
}
.schedule .content .timing .table tr td.day {
  color: #ffffff;
  border-color: transparent;
}

/*Gallery Section*/

.gallery .content {
  /* -webkit-display: flex; */
  display: flex;
  flex-wrap: wrap;
}

.gallery .content .box {
  flex: 0 0 50%;
  max-width: 50%;
}
.gallery .content .box img {
  display: block;
  width: 100%;
  height: 600px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery .content .box img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.gallery h2 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  padding: 0px 0px 20px;
  text-align: center;
}

.gallery > img {
  width: 400px;
  height: 400px;
}

/*Price Section*/

.price-package {
  padding: 80px 0px;
  background-color: #ffffff;
}
.price-package h2 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  padding: 0px 0px 20px;
  text-align: center;
}

.price-package .title-p {
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  text-align: center;
  padding: 0 20% 50px;
  font-family: "Open-sans", sans-serif;
}

.price-package .content {
  -webkit-display: flex;
  display: flex;
}
.price-package .content .box {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.price-package .content .box .inner {
  background-color: #f0f0f0;
}
.price-package .content .box .inner .price-tag {
  padding: 15px;
  font-size: 20px;
  background-color: #c11325;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.price-package .content .box .inner .text {
  padding: 30px 15px;
  text-align: center;
}
.price-package .content .box .inner .text h3 {
  font-size: 24px;
  color: #222222;
  margin: 0;
  padding: 0px 0px 20px;
  font-weight: 700;
}
.price-package .content .box .inner .text p {
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  text-align: center;
  padding: 0 0 5px;
  font-family: "Open-sans", sans-serif;
}
.price-package .content .box .inner .text .btn {
  padding: 8px 30px;
  background-color: #c11325;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 10px;
}
.price-package .content .box .inner .text .btn:hover {
  border-color: #222222;
  color: #222222;
  background-color: transparent;
}
.price-package .content .box .inner .img img {
  width: 100%;
}

.footer {
  padding: 5rem 15%;
  background-color: #000;
  text-transform: capitalize;
}
.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box .links {
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box .links:hover {
  color: #ff004f;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: #ff004f;
}

.footer .box-container .box .share {
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  /* height: 4.5rem;
  width: 4.5rem; */
  /* line-height: 4.5rem; */
  font-size: 1.7rem;
  color: #fff;
  background: #111;
  border-radius: 50%;
  margin-right: 0.5rem;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #c11325;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.footer .box-container .box .share a:hover {
  background: #ff004f;
}

.footer .box-container .box form .email {
  margin-bottom: 1rem;
  width: 100%;
  background: #111;
  padding: 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.credit {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background: #111;
  line-height: 1.5;
}

.credit span {
  color: #ff004f;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #ff004f 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*Responsive*/

/*if screen width is less than or equal to 991px then*/
@media (max-width: 991px) {
  .home {
    background-position: center;
  }
  .classes .content {
    flex-wrap: wrap;
  }
  .classes .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .classes .content .img {
    display: none;
  }
  .start-today .content .box {
    padding: 15px;
  }
}

/*if screen width is less than or equal to 767px then*/
@media (max-width: 767px) {
  .home h1 {
    font-size: 40px;
  }
  .about .content {
    flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .service .content {
    flex-wrap: wrap;
  }
  .service .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .classes .content .class-items .item {
    flex-wrap: wrap;
  }
  .classes .content .class-items .item .item-text,
  .classes .content .class-items .item .item-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .schedule .content {
    flex-wrap: wrap;
  }
  .schedule .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .service {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery .content {
    flex-wrap: wrap;
  }
  .gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .price-package .content {
    flex-wrap: wrap;
  }
  .price-package .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact .content {
    flex-wrap: wrap;
  }
  .contact .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*if screen width is less than or equal to 550px then*/
@media (max-width: 550px) {
  .home h1 {
    font-size: 30px;
  }
  .service {
    grid-template-columns: repeat(1, 1fr);
  }
  .service > div {
    width: 100%;
    margin: 5px;
  }
}
