@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: "Nunito";
}
body {
  background-image: url("https://www.worldgym.com/cms/thumbnails/34/879x670/sub/61991/images/photo-gallery/WGCoomera-042.jpg");
}
#login-container {
  padding: 1%;
}
/* ------------css for loding animation------------- */
#loding_container {
  display: none;
  transition: ease-in-out 0.5s;
}
#loding_div {
  position: fixed;
  top: 200px;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 500;
}
#loding_div > img {
  width: 120px;
}
#loding_div > h2 {
  text-align: center;
  color: #c11325;
  font-size: 35px;
  font-weight: bolder;
}

#logo {
  width: 20%;
  height: 8vh;
  margin-left: 38%;
  border-radius: 10px;
}
#login-form {
  width: 50%;
  opacity: 0.9;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 0.5%;
  padding-bottom: 5%;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#login-heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ff004f;
  margin: 10px;
  margin-bottom: 12px;
}

#login-email-label,
#login-password-label {
  width: 125%;
  height: 6vh;
  margin-left: 20%;
  color: #c11325;
  font-size: 20px;
  font-weight: bold;
}

#login-email,
#login-password {
  margin-top: 2%;
  width: 55%;
  height: 4vh;
  margin-left: 18%;
  border-radius: 20px;
  font-size: 18px;
  padding: 8px;
  padding-left: 4%;
  letter-spacing: 2px;
  font-weight: 700;
  border: 2px solid #000;
}

#login-button {
  width: 62%;
  margin-left: 18%;
  margin-top: 2%;
  border: 2px solid black;
  background-color: #c11325;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

#create-an-account {
  width: 60%;
  margin-left: 18%;
  margin-top: 2%;
  text-align: center;
  border: 2px solid black;
  background-color: #c11325;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

#login-google-button {
  width: 61%;
  margin-left: 18%;
  height: 5vh;
  border-radius: 20px;
  padding: 1px;
  cursor: pointer;
  border: 2px solid black;
}

@media screen and (min-width: 551px) and (max-width: 950px) {
  #login-container {
    padding: 1%;
    margin: -3%;
  }

  #login-form {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    height: 80vh;
    padding: 10px;
    padding-top: 0.5%;
    padding-bottom: 2%;
    font-family: cursive;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #logo {
    width: 35%;
    height: 5vh;
    margin-top: 5px;
    margin-left: 35%;
  }
  #login-heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff004f;
  }

  #login-email-label,
  #login-password-label {
    width: 125%;
    height: 3vh;
    margin-left: 20%;
    font-size: large;
  }

  #login-email,
  #login-password {
    margin-top: 2%;
    width: 57%;
    height: 4vh;
    margin-left: 18%;
    font-size: 15px;
    border-radius: 20px;
    letter-spacing: 0px;
    padding: 5px;
    padding-left: 4%;
    letter-spacing: 0px;
    border: 2px solid black;
  }

  #login-button {
    width: 63%;
    margin-left: 18%;
    margin-top: 6%;
    border: 2px solid black;
    background-color: #c11325;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
  }
  #create-an-account {
    padding: 5px;
    width: 60%;
    margin-left: 18%;
    margin-top: 2%;
    text-align: center;
    border: 2px solid black;
    background-color: #c11325;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }

  #login-google-button {
    width: 60%;
    margin-left: 18%;
    height: 4vh;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
  }
}

@media screen and (min-width: 200px) and (max-width: 550px) {
  #login-container {
    padding: 1%;
  }

  #logo {
    width: 30%;
    height: 5vh;
    margin-top: 5px;
  }
  #login-form {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    height: 75vh;
    padding: 15px;
    padding-top: 0.5%;
    padding-bottom: 2%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #login-heading {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    margin: 16px;
  }

  #login-email-label,
  #login-password-label {
    height: 2vh;
    margin-left: 3%;
  }

  #login-email,
  #login-password {
    margin-top: 3px;
    width: 90%;
    padding: 2px;
    margin-left: 0%;
    border-radius: 20px;
    letter-spacing: 0px;
    padding-left: 4%;
    border: 2px solid black;
  }

  #login-button {
    padding: 6px;
    width: 96%;
    margin-left: 0%;
    margin-top: 0px;
    border: 2px solid black;
    background-color: #c11325;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
  }
  #create-an-account {
    padding: 6px;
    width: 93%;
    margin-left: 0%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid black;
    background-color: #c11325;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
  }

  #login-google-button {
    width: 96%;
    margin-left: 0%;
    margin-top: 8px;
    height: 5vh;
    border-radius: 20px;
    cursor: pointer;
  }
}
