@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: "Nunito";
}
body {
  background-image: url("https://www.worldgym.com/cms/thumbnails/34/879x670/sub/61991/images/photo-gallery/WGCoomera-042.jpg");
}
#container {
  padding: 1%;
}
#logo {
  width: 20%;
  height: 8vh;
  margin-left: 38%;
  border-radius: 10px;
}

#signup-heading {
  text-align: center;
  font-size: 40px;
  color: #ff004f;
  font-weight: bold;
}

#form {
  width: 50%;
  min-height: 100vh;
  margin: auto;
  opacity: 0.9;
  margin-top: 20px;
  padding-top: 1%;
  padding-bottom: 4%;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}
label {
  color: #c11325;
  font-size: 18px;
  font-weight: bold;
}
#name,
#pass,
#top,
#top2,
#mid,
#bottom {
  display: flex;
  gap: 80px;
  font-size: large;
  margin-left: 10%;
}

#firstName,
#lastName {
  margin-top: 5%;
  width: 125%;
  height: 4vh;
  border-radius: 20px;
  padding-left: 10%;
  letter-spacing: 1px;
  border: 2px solid #000;
}

#signup-password {
  margin-top: 5%;
  width: 270%;
  height: 4vh;
  border-radius: 20px;
  padding-left: 10%;
  letter-spacing: 1px;
  border: 2px solid #000;
}

#Email {
  margin-top: 5%;
  width: 175%;
  height: 4vh;
  border-radius: 20px;
  letter-spacing: 2px;
  padding-left: 10%;
  border: 2px solid #000;
}
#genderAndrole {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 20px;
}

#role,
#gender {
  margin-top: 5%;
  width: 100%;
  height: 4vh;
  border-radius: 20px;
  letter-spacing: 2px;
  padding-left: 10%;
  border: 2px solid #000;
  cursor: pointer;
}

#select,
#select2 {
  cursor: pointer;
}

#email {
  width: 39%;
  margin-left: 10%;
  margin-top: 1%;
  font-size: large;
  cursor: pointer;
}

#sign-upButton {
  padding: 1%;
  width: 75%;
  margin-left: 10%;
  margin-top: 5%;
  border: 2px solid white;
  background-color: #c11325;
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
  height: 6vh;
  border-radius: 20px;
  cursor: pointer;
}
#back-to-login {
  padding: 1%;
  border: 2px solid white;
  background-color: #c11325;
  color: white;
  width: 73%;
  /* height: 1vh; */
  margin-left: 10%;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* .................... Media Query for Medium devices..................... */

@media screen and (min-width: 600px) and (max-width: 1100px) {
  #container {
    padding: 1%;
    margin: -3%;
  }
  #logo {
    width: 30%;
    height: 6vh;
    margin-left: 37%;
    border-radius: 10px;
  }

  #signup-heading {
    text-align: center;
    font-size: 35px;
    color: #ff004f;
    font-weight: bold;
    margin: 8px;
    letter-spacing: 0px;
  }

  #form {
    width: 65%;
    margin: auto;
    margin-top: 30px;
    height: 90vh;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  label {
    font-size: 17px;
  }
  #name,
  #pass,
  #top,
  #top2,
  #mid,
  #bottom {
    display: flex;
    gap: 20px;
    margin-left: 10%;
  }

  #firstName,
  #lastName {
    margin-top: 3%;
    width: 75%;
    height: 4vh;
    border-radius: 20px;
    padding-left: 10%;
    letter-spacing: 1px;
    border: 2px solid black;
  }

  #Email {
    margin-top: 3%;
    width: 175%;
    height: 4vh;

    border-radius: 20px;
    letter-spacing: 2px;
    padding-left: 10%;
    border: 2px solid black;
  }

  #email {
    width: 39%;
    margin-left: 10%;
    margin-top: 1%;
    font-size: large;
    cursor: pointer;
  }
  #signup-password {
    margin-top: 3%;
    width: 150%;
    height: 4vh;
    border-radius: 20px;
    padding-left: 10%;
    letter-spacing: 1px;
    border: 2px solid black;
  }

  #genderAndrole {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 20px;
  }

  #role,
  #gender {
    margin-top: 0%;
    width: 120%;
    height: 5vh;
    border-radius: 20px;
    letter-spacing: 1px;
    padding-left: 10%;
    border: 2px solid #000;
    cursor: pointer;
  }

  #select,
  #select2 {
    margin-left: 0px;
    margin-right: 15px;
    cursor: pointer;
  }

  #sign-upButton {
    padding: 1%;
    width: 75%;
    margin-left: 10%;
    margin-top: 7%;
    border: 2px solid black;
    background-color: #c11325;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    /* height: 5vh; */
    padding: 2px;
    border-radius: 20px;
    cursor: pointer;
  }
  #back-to-login {
    padding: 2%;
    border: 2px solid black;
    width: 70%;
    height: 2vh;
    margin-left: 10%;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
}

/* .................... Media Query for small devices..................... */

@media screen and (min-width: 100px) and (max-width: 600px) {
  #container {
    padding: 1%;
    margin: -3%;
  }
  #logo {
    width: 30%;
    height: 6vh;
    margin-left: 35%;
    border-radius: 10px;
  }

  #signup-heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #ff004f;
    margin: 15px;
    letter-spacing: -1px;
  }

  #form {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    height: 100vh;
    padding: 5px;
    padding-top: 1%;
    padding-bottom: 10%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #name,
  #pass,
  #top,
  #top2,
  #mid,
  #bottom {
    display: flex;
    gap: 20px;
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
  }

  #firstName,
  #lastName {
    margin-top: 2%;
    width: 75%;
    height: 3vh;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 2px;
    letter-spacing: 0px;
    margin-top: 2px;
    border: 2px solid black;
  }

  #email {
    width: 42%;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
  }

  #Email {
    width: 190%;
    height: 3vh;
    border-radius: 20px;
    letter-spacing: 0px;
    padding-left: 10px;
    margin-top: 2px;
    border: 2px solid black;
  }

  #signup-password {
    width: 100%;
    height: 3vh;
    border-radius: 20px;
    padding-left: 10px;
    letter-spacing: 0px;
    margin-top: 2px;
    border: 2px solid black;
  }

  #genderAndrole {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 20px;
  }

  #role,
  #gender {
    margin-top: 1%;
    width: 100%;
    height: 4vh;
    border-radius: 20px;
    letter-spacing: 0px;
    padding: 2px;
    padding-left: 10%;
    border: 2px solid #000;
    cursor: pointer;
  }

  #select,
  #select2 {
    margin-left: 0px;
    margin-right: 15px;
    cursor: pointer;
  }

  #sign-upButton {
    padding: 2%;
    width: 75%;
    margin-left: 10%;
    margin-top: 8%;
    border: 2px solid black;
    background-color: #c11325;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    height: 5vh;
    border-radius: 20px;
    cursor: pointer;
  }
  #back-to-login {
    padding: 1%;
    border: 2px solid black;
    width: 71%;
    height: 3vh;
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
}
